@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@0;1&display=swap");

body {
    margin: 0;
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
}

.App {
    display: flex;
    flex-direction: column;
}

.popup {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    display: flex;
    justify-content: center;
    .buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 30px;
        .buttonClose {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fe42ad;
            border: 2px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .MuiSvgIcon-root {
                width: 24px;
                height: 24px;
                fill: #ffffff;
            }
        }
    }
    .containerWine {
        background-color: white;
        width: 100%;
        min-erheight: 56vh;
        border: 2px solid #fe42ad;
        padding: 8px 50px;
        margin: 170px 210px;
        border-radius: 6px;

        .topContainer {
            display: flex;
            justify-content: space-between;
            .infoGroup {
                width: 60%;
                .content {
                    // background-color: #fe42ad;
                    color: #000000;
                    padding: 7px;
                    border-radius: 6px;
                    min-height: 18px;
                }
            }
        }
        .bottomContainer {
            .extrasGroupAdd {
                display: flex;
                justify-content: space-between;
                border: 3px solid white;
                .extrasContainer:first-child {
                    margin: 0 15px 0 0;
                }
                .extrasContainer {
                    margin: 0 15px 0 0;
                    width: 60%;
                    .title {
                        margin: 12px 0 3px 5px;
                    }
                    textarea {
                        width: 186px;
                        border-radius: 6px;
                        border: 1px solid black;
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
                .content {
                    background-color: #e3dede;
                    color: #000000;
                    padding: 12px;
                    border-radius: 6px;
                    min-height: 120px;
                    opacity: 0.8;
                }
            }
            .buttonUpdate {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                background-color: #fe42ad;
                border: 2px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .MuiSvgIcon-root {
                    width: 34px;
                    height: 34px;
                    fill: #ffffff;
                }
            }
    
        }
    }
}

.input {
    height: 36px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid black;
    box-sizing: border-box;
}
.buttonGroup {
    position: relative;
    width: 40%;

    .buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 100%;
        .buttonEdit {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color: #fe42ad;
            border: 2px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .MuiSvgIcon-root {
            fill: #ffffff;
        }
        .buttonUpdate {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color: #fe42ad;
            border: 2px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .MuiSvgIcon-root {
                width: 34px;
                height: 34px;
            }
        }
        .buttonClose {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fe42ad;
            border: 2px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .MuiSvgIcon-root {
                width: 24px;
                height: 24px;
            }
        }
    }
}

main {
    height: 100vh;
}

.header {
    margin: 44px 0 10px 70px;
    .title {
        font-size: 48px;
        padding: 0 0 0 140px;
    }
}

.topContainer {
    display: flex;
    justify-content: space-between;

    .infoGroup {
        width: 60%;

        .title {
            margin: 12px 0 3px 5px;
            font-size: 20px;

        }
        .titleCountry {
            background-color:  #e3dede;
            margin: 12px 0 3px 5px;
            width: fit-content;
            min-height: 28px;
            opacity: 0.8;
            border-radius: 6px;
            line-height: 28px;
            padding: 3px;
        }
        .content {
            background-color: #e3dede;
            color: #000000;
            padding: 7px;
            border-radius: 6px;
            min-height: 28px;
            opacity: 0.8;
            line-height: 28px;

        }
        select {
            margin: 12px 0 0 0;
            width: 100%;
            height: 36px;
            cursor: pointer;
            border-radius: 6px;
            border: 1px solid #e3dede;
        }
    }
}
.mainContainer {
    padding-bottom: 20px;
    position: relative;
    .containerWine {
        border: 0.5px solid grey;
        padding: 8px 50px;
        margin: 20px 300px;
        border-radius: 6px;
    }

    .extrasGroup {
        display: flex;
        justify-content: space-between;
        border: 3px solid white;
        .extrasContainer:first-child {
            margin: 0 15px 0 0;
        }
        .extrasContainer {
            width: 100%;
            .title {
                margin: 12px 0 3px 5px;
            }
        }
        .content {
            background-color: #e3dede;
            color: #000000;
            padding: 12px;
            border-radius: 6px;
            min-height: 120px;
            opacity: 0.8;
        }
    }

    .bottomContainer {
        .extrasGroupAdd {
            display: flex;
            flex-direction: column;
            .extrasContainer {
                margin: 0 15px 0 0;
                .title {
                    margin: 12px 0 3px 5px;
                }
            }
            .content {
                width: 186px;
                height: 100px;
                border: 1px solid black;
                border-radius: 6px;
                margin: 12px 0 3px 5px;
            }
            .__extrasContainer {
                display: flex;
                justify-content: flex-end;
                .commentsContainer {
                    .title {
                        margin: 12px 0 3px 5px;
                    }
                    textarea {
                        width: 186px;
                        border-radius: 6px;
                        border: 1px solid black;
                        margin: 0 0 19px 0;
                    }
                }
            }
        }
    }
}

.circle {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fe42ad;
    border: 2px solid #ffffff;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    position: fixed;
    right: 130px;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiSvgIcon-root {
        fill: #ffffff;
        width: 48px;
        height: 48px;
    }
}
