body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    //   position: relative;
}

.popup {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    display: flex;
    justify-content: center;
    .containerWine {
        background-color: white;
        margin: 145px 20px 15px;
        padding: 8px 12px;
        width: 90vw;
        height: 365px;
        border-radius: 6px;

    }
    .topContainer {
        display: flex;
        justify-content: space-between;
    }

    .infoGroup {
        width: 60%;

        .title {
            margin: 12px 0 3px 5px;
        }
        .content {
            background-color: #fe42ad;
            color: #ffffff;
            padding: 7px;
            border-radius: 6px;
            min-height: 18px;
        }
    }

    .imgContainer {
        position: relative;
        width: 40%;
        height: 200px;
        overflow: hidden;
        img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            height: 100%;
        }
    }

    .extrasGroup {
        display: flex;
        justify-content: flex-end;
        border: 3px solid white;
        .extrasContainer:first-child {
            margin: 0 15px 0 0;
        }
        .extrasContainer {
            width: 100%;
            .title {
                margin: 12px 0 3px 5px;
            }
        }
        .content {
            height: 100px;
            border-radius: 6px;
            margin: 12px 0 3px 0;
            background-color: #fe42ad;
            color: #ffffff;
            padding: 7px;
        }
    }
}

.login {
    margin: 20rem 47px 0 47px;
}

.form {
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 47px 25px 7px 25px;
    /* align-items: center; */
}

.titleAndInputGroup {
    margin: 0 0 18px 0;
}

.input {
    height: 36px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid black;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .buttonEdit {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: #fe42ad;
        border: 2px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .MuiSvgIcon-root {
        fill: #ffffff;
    }
    .buttonUpdate {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: #fe42ad;
        border: 2px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .MuiSvgIcon-root {
            width: 34px;
            height: 34px;
        }
    }
    .buttonClose {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #fe42ad;
        border: 2px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .MuiSvgIcon-root {
            width: 24px;
            height: 24px;
        }
    }

}

.button {
    height: 32px;
    width: 65px;
    text-align: center;
}

.registerContainer {
    display: flex;
    justify-content: flex-end;
    margin: 63px 0 0 0;
}

.usernameContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;
}

main {
    height: 100vh;
}

.header {
    margin: 11px 0 10px 70px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
}

.infoGroup {
    width: 60%;

    .title {
        margin: 12px 0 3px 5px;
    }
    .content {
        background-color: #fe42ad;
        color: #ffffff;
        padding: 7px;
        border-radius: 6px;
        min-height: 18px;
    }
    select {
        margin: 12px 0 0 0;
        width: 100%;
        height: 36px;
        cursor: pointer;
    }

}

.mainContainer {
    padding-bottom: 28px;
    position: relative;
    .containerWine {
        border: 2px solid #ff0414;
        padding: 8px 12px;
        margin: 20px 15px;
        border-radius: 6px;
    }

    .imgContainer {
        position: relative;
        width: 40%;
        height: 200px;
        overflow: hidden;
        img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            height: 100%;
        }
    }

    .bottomContainer {
    }

    .extrasGroup {
        display: flex;
        justify-content: space-between;
        border: 3px solid white;
        .extrasContainer:first-child {
            margin: 0 15px 0 0;
        }
        .extrasContainer {
            width: 100%;
            .title {
                margin: 12px 0 3px 5px;
            }
        }
        .content {
            height: 100px;
            border-radius: 6px;
            margin: 12px 0 3px 0;
            background-color: #fe42ad;
            color: #ffffff;
            padding: 7px;
        }
    }

    .extrasGroupAdd {
        display: flex;
        flex-direction: column;
        .extrasContainer {
            margin: 0 15px 0 0;
            .title {
                margin: 12px 0 3px 5px;
            }
            textarea {
                width: 186px;
                border-radius: 6px;
                border: 1px solid black;
            }
        }
        .content {
            width: 186px;
            height: 100px;
            border: 1px solid black;
            border-radius: 6px;
            margin: 12px 0 3px 5px;
        }
        .__extrasContainer {
            display: flex;
            justify-content: flex-end;
            .commentsContainer {
                .title {
                    margin: 12px 0 3px 5px;
                }
                textarea {
                    width: 186px;
                    border-radius: 6px;
                    border: 1px solid black;
                    margin: 0 0 19px 0;
                }
            }
        }
    }
}

.circle {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fe42ad;
    border: 2px solid #ffffff;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiSvgIcon-root {
        fill: #ffffff;
        width: 48px;
        height: 48px;
    }
}
